@use 'src/scss/composes/button';
@use 'src/scss/composes/controls';
@use 'src/scss/elements/styledButton';

@import 'src/scss/config/index';

.navItem {
  margin: 0 0 1em;

  @media #{$md} {
    flex: 1;
    margin: 0 0.3em 0.3em;
  }
}

.navSection {
  composes: navItem;
}

.navItemButton {
  width: 100%;

  counter-increment: section;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 0.5em;
  text-align: left;

  &:before {
    content: counter(section);
    font-size: 0.8em;
    height: 1.4em;
    width: 1.4em;
    background-color: #0d131e;
    color: #fff;
    text-align: center;
    line-height: 1.4em;
    border-radius: 50%;
    margin-right: 0.5em;
    font-weight: bold;
  }

  &.active {
    @include button.activePrimary();
  }
}

.navSectionButton {
  composes: styledButton;
  width: 100%;
  font-weight: bold;
}
