@use 'src/scss/composes/button';
@use 'src/scss/composes/controls';
@use 'src/scss/elements/styledButton';

@import 'src/scss/config/index';


.container {
  padding: 1.6rem;
  text-align: center;
  display: grid;
  grid-template-areas: 'header header' 'nav main' 'nav footer';
  grid-template-columns: min-content auto;
  grid-gap: 1.6rem;

  @media #{$md} {
    display: block;
  }
}

.header {
  grid-area: header;
}

.nav {
  grid-area: nav;
}

.main {
  grid-area: main;
}

.footer {
  grid-area: footer;
}

.title {
  font-size: 2em;
}

.navList {
  display: flex;
  flex-direction: column;
  //justify-content: space-between;
  height: 100%;
  counter-reset: section;
  list-style: none;
  padding: 0;
  margin: 0;

  @media #{$md} {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    max-width: 50em;
  }
}

.main {
  padding: 2em min(1.6rem, 3vw);
  text-align: initial;
  width: min(100%, 50em);
  border: 1px solid #ccc;
  margin: 0 auto;
  border-radius: 1em;

  @media #{$md} {
    margin: 1.5em auto;
  }
}

.question {
  margin-top: 0;
  font-size: 1.5em;
}

.formGroup {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.radioLabel {
  @include controls.radioLabel();
}

.controlInput {
  @include controls.base();

  &:hover,
  &:focus {
    @include controls.focus();
  }
}

.footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  span {
    margin-right: 0.6em;
    display: flex;
    align-items: center;
    white-space: nowrap;
  }

  b {
    margin-left: 0.3em;
  }

  svg {
    margin-right: 0.3em;
  }
}

.footerButton {
  @include button.lg();

  margin-top: 0.3em;
  margin-bottom: 0.3em;
}

.buttonNext {
  composes: styledButton;
}

.buttonSubmit {
  composes: styledButton;
  composes: footerButton;

  @include button.activePrimary();

  &:hover {
    @include button.activePrimaryHover();
  }
}
