@use 'src/scss/composes/button';
@use 'src/scss/composes/controls';
@import 'src/scss/config/index';

$md: '(min-width: 52em)';

.container {
  padding: 1.6rem;
  text-align: center;
  display: grid;
  grid-template-areas: 'header header' 'nav main' 'nav footer';
  grid-template-columns: min-content auto;
  grid-gap: 1.6rem;

  @media #{$md} {
    display: block;
  }
}

.header {
  grid-area: header;
}

.nav {
  grid-area: nav;
}

.main {
  grid-area: main;
}

.footer {
  grid-area: footer;
}

.title {
  font-size: 2em;
}

.navList {
  display: flex;
  flex-direction: column;
  //justify-content: space-between;
  height: 100%;
  counter-reset: section;
  list-style: none;
  padding: 0;
  margin: 0;

  @media #{$md} {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    max-width: 50em;
  }
}

.navItem {
  margin: 0 0 1em;

  @media #{$md} {
    flex: 1;
    margin: 0 0.3em 0.3em;
  }
}

.navSection {
  composes: navItem;
}

.styledButton {
  & {
    @include button.base();
  }

  &.active,
  &.prev {
    @include button.activeColor();
  }

  &.active {
    @include button.active();
  }

  &:not(.active, .buttonSubmit):hover {
    @include button.hover();
  }
}

.navItemButton {
  width: 100%;

  counter-increment: section;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 0.5em;
  text-align: left;

  &:before {
    content: counter(section);
    font-size: 0.8em;
    height: 1.4em;
    width: 1.4em;
    background-color: #0d131e;
    color: #fff;
    text-align: center;
    line-height: 1.4em;
    border-radius: 50%;
    margin-right: 0.5em;
    font-weight: bold;
  }

  &.active {
    @include button.activePrimary();
  }
}

.navSectionButton {
  composes: styledButton;
  width: 100%;
  font-weight: bold;
}

.main {
  padding: 2em min(1.6rem, 3vw);
  text-align: initial;
  width: min(100%, 50em);
  border: 1px solid #ccc;
  margin: 0 auto;
  border-radius: 1em;

  @media #{$md} {
    margin: 1.5em auto;
  }
}

.question {
  margin-top: 0;
  font-size: 1.5em;
}

.formGroup {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.radioLabel {
  @include controls.radioLabel();
}

.controlInput {
  @include controls.base();

  &:hover,
  &:focus {
    @include controls.focus();
  }
}

.footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  span {
    margin-right: 0.6em;
    display: flex;
    align-items: center;
    white-space: nowrap;
  }

  b {
    margin-left: 0.3em;
  }

  svg {
    margin-right: 0.3em;
  }
}

.footerButton {
  @include button.lg();

  margin-top: 0.3em;
  margin-bottom: 0.3em;
}

.buttonNext {
  composes: styledButton;
}

.buttonSubmit {
  composes: styledButton;
  composes: footerButton;

  @include button.activePrimary();

  &:hover {
    @include button.activePrimaryHover();
  }
}
